<%= render 'shared/page_title', title: "Додај нова поделба" %> 
<%= render 'shared/errors', obj: @substitution %>

<div class="row">
    <div class="well col-md-8 col-md-offset-2">
        <%= form_for @substitution do |f| %>
        <%= f.label :Име_на_поделба %>
        <%= f.text_field :ime_podelba %>
        
        </br>
        
        <strong>Подгрупа:</strong>
        
        <%= f.collection_select(:subgroup_id, Subgroup.all, :id, :ime_podgrupa, {:include_blank => ''}) %>

        
        <%= f.submit 'Креирај', class: "btn btn-success pull-right" %>
        <% end %>
    </div>
</div>