<%= render 'shared/page_title', title: "Додај нова група" %> 
<%= render 'shared/errors', obj: @group %>

<div class="row">
    <div class="well col-md-8 col-md-offset-2">
        <%= form_for @group do |f| %>
        <%= f.label :Име_на_група %>
        <%= f.text_field :ime_grupa %>

        <%= f.submit 'Креирај', class: "btn btn-success" %>
        <% end %>
    </div>
</div>