<%= render 'shared/page_title', title: "Групи" %>
        
        <div class="col-lg-12 well">
            <section class="group_info center">
                <strong> <h3><%= link_to @group.ime_grupa, group_path(@group) %></h3> </strong>
                
            </section>
            </br>
            <h4><strong><u>Подгрупи од оваа група се:</u></strong></h4>
            <% @subgroups.each do |subgroup| %>
                <div class="col-lg-10 offset-2 well">
                    <h4><%= link_to subgroup.ime_podgrupa, subgroup_path(subgroup) %></h4>
                </div>
            <% end %>
            
        </div>
        <% if logged_in? && (current_user.admin) %>
            <div class="col-md-12 well">
                <button class="btn pull-left"><%= link_to "Додај нова подгрупа", new_subgroup_path %></button>
                <button class="btn pull-right btn-danger"><%= link_to "Избриши група", @group, method: :delete, data: {confirm: "Дали сте сигурни дека сакате да ја избришете групата?"} %></button>
                <button class="btn pull-right"><%= link_to "Измени", edit_group_path(@group.id) %></button>
            </div>
        <% end %>
        
        
    <hr/>

