<%= render 'shared/page_title', title: "Корисник" %>
        
        <div class="col-lg-12 well">
            <section class="group_info center">
                <strong> <h3>Имe и презиме: <%= @user.ime_korisnik %>, <%= @user.prezime_korisnik %></h3> </strong>
                <h4>E-маил: <%= @user.email_korisnik %></h4>
                <% if @user.profesija_korisnik.present? %>
                    <h4>Професија: <%= @user.profesija_korisnik %></h4>
                <% end %>
                <% if logged_in? && current_user.admin %>
                    <button class="btn pull-right"><%= link_to 'Измени', edit_user_path(@user) %></button>
                    <button class="btn pull-left"><%= link_to 'Избриши го овој корисник', @user, method: :delete, data: {confirm: "Дали сте сигурни дека сакате да го избришете овој корисник?"} %></button>
                <% end %>
                
            </section>
            </br>
        </div>
        
    <hr/>