<%= render 'shared/page_title', title: "Додај нов производител" %> 
<%= render 'shared/errors', obj: @producer %>

<div class="row">
    <div class="well col-md-8 col-md-offset-2">
        <%= form_for @producer do |f| %>
        <%= f.label :Име_на_производител %>
        <%= f.text_field :ime_proizvoditel %>
        
        <%= f.label :Потекло %>
        <%= f.text_field :poteklo %>

        <%= f.submit 'Креирај', class: "btn btn-success" %>
        <% end %>
    </div>
</div>