<%= render 'shared/page_title', title: "Производител" %>
        
        <div class="col-lg-12 well">
            <section class="group_info center">
                <div class="show_producer">
                  <%= image_tag(@producer.picture.url, class:"gravatar") if @producer.picture? %>
                </div>
                <strong> <h3><u></u>Име на производител:</u> <%= @producer.ime_proizvoditel %></h3> </strong>
                <h4>Потекло: <%= @producer.poteklo %></h4>
                <% if @producer.website? %>
                    <h4>Веб сајт: <%= link_to @producer.website, url_for(@producer.website) %></h4>
                <% end %>
            </section>
            </br>
            <% if @medicaments.any? %>
                <h4><u>Лекови кои ги произведува:</u></h4>
                <% @medicaments.each do |med| %>
                    <div class="col-lg-10 offset-2 well">
                        <h4><%= link_to med.ime_lek, medicament_path(med) %></h4>
                        
                    </div>
                <% end %>
            <% else %>
                <h4>Овој производител нема регистрирани лекови во Република Македонија.</h4>
            <% end %>
        </div>
        <% if logged_in? && (current_user.admin) %>
            <div class="col-md-12 well">
                <button class="btn pull-left"><%= link_to "Додај нов производител", new_producer_path %></button>
                <button class="btn pull-left"><%= link_to "Додај нов лек", new_medicament_path %></button>
                <button class="btn pull-right btn-danger"><%= link_to "Избриши производител", @producer, method: :delete, data: {confirm: "Дали сте сигурни дека сакате да го избришете овој производител??"} %></button>
                <button class="btn pull-right"><%= link_to "Измени", edit_producer_path(@producer.id) %></button>
            </div>
        <% end %>
        
    <hr/>