<%= render 'shared/errors', obj: @comment %>
<%= render 'shared/page_title', title: "Генерички имиња на лекови" %>

<div class="col-lg-12 well">
    <section>
        <h3> Генеричко име на лекот: <%= @generic_name.genericko_ime %></h3>
        <% if @generic_name.detalna_podelba.present? %>
            <h4>Овој лек припаѓа во <%= @generic_name.detalna_podelba %>, дел од <%= @generic_name.substitution.ime_podelba %></h4>
        <% end %>
        <% if @generic_name.sostav.present? %>
            <h4><u>Состав:</u></br><%= @generic_name.sostav %></h4>
        <% end %>
        <% if @generic_name.indikacii.present? %>
            <h4><u>Индикации:</u></br><%= @generic_name.indikacii %></h4>
        <% end %>
        <% if @generic_name.interakcii.present? %>
            <h4><u>Интеракции:</u></br><%= @generic_name.interakcii %></h4>
        <% end %>
        <% if @generic_name.dejstvo.present? %>
            <h4><u>Дејство:</u></br><%= @generic_name.dejstvo %></h4>
        <% end %>
        <% if @generic_name.merki_na_pretpazlivost.present? %>
            <h4><u>Мерки на претпазливост:</u></br><%= @generic_name.merki_na_pretpazlivost %></h4>
        <% end %>
        <% if @generic_name.doziranje.present? %>
            <h4><u>Дозирање:</u></br><%= @generic_name.doziranje %></h4>
        <% end %>
        <% if @generic_name.nesakani_dejstva.present? %>
            <h4><u>Несакани дејства:</u></br><%= @generic_name.nesakani_dejstva %></h4>
        <% end %>
        <% if @generic_name.kontraindikacii.present? %>
            <h4><u>Контраиндикации:</u></br><%= @generic_name.kontraindikacii %></h4>
        <% end %>
        <% if @medicaments.any? %>
            <h4><strong><u>Овој генерички лек го има со следниве фабрички имиња:</u></strong></h4>
            <% @medicaments.each do |med| %>
                <div class="col-lg-10 offset-2 well">
                    <h4><%= link_to med.ime_lek, medicament_path(med) %></h4>
                </div>
            <% end %>
        <% else %>
            <h4>Нема регистрирани лекови во Република Македонија со ова генеричко име.</h4>
        <% end %>
        <hr>
        <% if @komgens.any? %>
            <%= render 'reviewgenerics/reviewgeneric', obj: @komgens %>
        <% end %>
        <div class="col-lg-12 well">
          <% if logged_in? %>
            <%= form_for([@generic_name, @comment]) do |c| %>
              <%= c.label "Додади коментар:" %>
              <%= c.text_area :komentar_na_generika %>
              <%= c.submit "Коментирај" %>
            <% end %>
          <% end %>
        </div>
        <% if logged_in? && (current_user.admin) %>
            <div class="col-lg-12 well">
                <button class="btn pull-left"><%= link_to "Додај нов генерички лек", new_generic_name_path %></button>
                <button class="btn pull-right btn-danger"><%= link_to "Избриши го овој генерички лек", @substitution, method: :delete, data: {confirm: "Дали сте сигурни дека сакате да го избришете овој лек?"} %></button>
                <button class="btn pull-right"><%= link_to "Измени", edit_generic_name_path %></button>
            </div>
        <% end %>
    </section>
</div>
        

    </br>

<hr/>