<%= render 'shared/page_title', title: "Коментари од корисници" %>
  <% if @rgen.any? %>
    <div class="col-lg-12 offset-2 well">
      <h4>Сите коментари на генерички имиња на лекови кои не се одобрени</h4>
      <% @rgen.each do |rg| %>
      <% if rg.approve? %>
      <% else %>
        <div class="col-lg-12 offset-2 well">
          <h5><%= rg.user.ime_korisnik %> <%= rg.user.prezime_korisnik %> <% if rg.user.profesija_korisnik.present? %> ( <%= rg.user.profesija_korisnik %> ): <% end %></h5>
          <h4><%= rg.komentar_na_generika %></h4>
            <small class="pull-right">Коментарот не е одобрен</small></br>
          <p>
      			<span class="quiet"><small> креиран пред: <%= time_ago_in_words(rg.created_at) %> ,</small></span>
      			<span class="quiet"><small> изменет пред: <%= time_ago_in_words(rg.updated_at) %></small></span>
      	  </p>
          <% if logged_in? && (rg.user == current_user || current_user.admin?) %>
            <div class="pull-right small">
              <%= link_to "[Измени]", edit_generic_name_reviewgeneric_path(rg.generic_name, rg.id) %>
            </div>
          <% end %>
        </div>
      <% end %>
      <% end %>
    </div>
  <% end %>
  <% if @rmed.any? %>
    <div class="col-lg-12 offset-2 well">
      <h4>Сите коментари на лекови кои не се одобрени</h4>
      <% @rmed.each do |rm| %>
      <% if rm.approve? %>
      <% else %>
        <div class="col-lg-12 offset-2 well">
          <h5><%= rm.user.ime_korisnik %> <%= rm.user.prezime_korisnik %> <% if rm.user.profesija_korisnik.present? %> ( <%= rm.user.profesija_korisnik %> ): <% end %></h5>
          <h4><%= rm.komentar_na_lek %></h4>
            <small class="pull-right">Коментарот не е одобрен</small></br>
          <p>
      			<span class="quiet"><small> креиран пред: <%= time_ago_in_words(rm.created_at) %> ,</small></span>
      			<span class="quiet"><small> изменет пред: <%= time_ago_in_words(rm.updated_at) %></small></span>
      	  </p>
          <% if logged_in? && (rm.user == current_user || current_user.admin?) %>
            <div class="pull-right small">
              <%= link_to "[Измени]", edit_medicament_reviewmed_path(rm.medicament, rm.id) %>
            </div>
          <% end %>
        </div>
      <% end %>
      <% end %>
    </div>
  <% end %>
