<%= render 'shared/errors', obj: @commentt %>
<%= render 'shared/page_title', title: "Лек" %>
<div class="col-lg-12 well">
    <section class="group_info center">
        <strong> <h3><%= @medicament.ime_lek %></h3> </strong>
        <h4>Овој лек има генеричко име <%= @medicament.generic_name.genericko_ime %></h4>
        <h4><u>Производител:</u> <%= link_to @medicament.producer.ime_proizvoditel, producer_path(@medicament.producer) %> , <%= @medicament.producer.poteklo %> </h4>
        <% if @medicament.komentar.present? %>
            <h4><%= @medicament.komentar %></h4>
        <% end %>
        <% if @kommeds.any? %>
            <%= render 'reviewmeds/reviewmed', obj: @kommeds %>
        <% end %>
        <% if logged_in? %>
        <div class="col-lg-12 well">
            <%= form_for([@medicament, @commentt]) do |c| %>
              <%= c.label "Додади коментар:" %>
              <%= c.text_area :komentar_na_lek %>
              <%= c.submit "Коментирај" %>
            <% end %>
        </div>
        <% end %>
        <% if logged_in? && (current_user.admin) %>
            <div class="col-md-12 well">
                <button class="btn pull-left"><%= link_to "Додај нов лек", new_medicament_path %></button>
                <button class="btn pull-right btn-danger"><%= link_to "Избриши лек", @medicament, method: :delete, data: {confirm: "Дали сте сигурни дека сакате да го избришете овој лек?"} %></button>
                <button class="btn pull-right"><%= link_to "Измени", edit_medicament_path(@medicament.id) %></button>
            </div>
        <% end %>
    </section>
</div>
        
        
        
    <hr/>