<header class = "navbar navbar-fixed-top navbar-inverse">
    <div class = "container">
      <%= link_to "Лекови", root_path, class: "btn btn-lg btn-success", id: "logo" %>
      <button type="button" class="btn btn-default nav_ul_item"><%= link_to "link1", "", class: "navbar-link" %></button>
      <button type="button" class="btn btn-default nav_ul_item"><%= link_to "link1", "", class: "navbar-link" %></button>
      <button type="button" class="btn btn-default nav_ul_item"><%= link_to "link1", "", class: "navbar-link" %></button>
      <button type="button" class="btn btn-default nav_ul_item pull-right"><%= link_to "link1", "", class: "navbar-link" %></button>
      <button type="button" class="btn btn-default nav_ul_item pull-right"><%= link_to "link1", "", class: "navbar-link" %></button>
    </div>
    
</header>