<ul class="nav nav-tabs">
    <li class="<%= is_active?(groups_path) %>">
        <%= link_to "Групи на лекови", groups_path %>
    </li>
    <li class="<%= is_active?(subgroups_path) %>">
        <%= link_to "Подгрупи на лекови", subgroups_path %>
    </li>
    <li class="<%= is_active?(substitutions_path) %>">
        <%= link_to "Поделби на подгрупи", substitutions_path %>
    </li>
    <li class="<%= is_active?(generic_names_path) %>">
        <%= link_to "Генерички имиња на лекови", generic_names_path %>
    </li>
</ul>